html {
    font-size: 100%;
}

#h1style {
    
    width: 100%;
}

.headercontent {
    position: absolute;
    top:0px;
    right: 120px;
    width: 60%;

}
#mybuttonstyler {
  
    color:yellow;
    padding:10px;
    border: 1px solid white;
}